<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Home - Brand</title>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
</head>

<header class="masthead">
  <div class="stavsya">
<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
  <div class="container"><a class="navbar-brand" href="/main">SCHOOL-IN-YOUR-SMARTFONE</a>
    <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
      class="fa fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </div>
</nav>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto position-relative">
        <div class="site-heading">
          <h1>О сайте</h1><span class="subheading">Здесь вы можете узнать основную информацию о сайте</span>
        </div>
      </div>
    </div>
  </div>
  </div>
</header>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8">
      <div class="post-preview">
        <h2 class="post-title">Создание сайта</h2>
        <p>Сайт был создан в 6 семестре обучения.</p>
     </div>
      <hr>
      <div class="post-preview">
        <h2 class="post-title">Пользователи сайта</h2>
        <p class="post-meta">Всего 3&nbsp;529 пользователей, в том числе:<br><span style="text-decoration: underline;">директор</span>&nbsp;и
          2 человека из&nbsp;<span style="text-decoration: underline;">списка администрации</span><br><span
            style="text-decoration: underline;">учител</span><span style="text-decoration: underline;">я</span><br>обучающиеся<br>родители<br><span
            style="text-decoration: underline;">1</span><span
            style="text-decoration: underline;">&nbsp;пользовател</span><span
            style="text-decoration: underline;">ь</span>&nbsp;с правами модератора<br><br></p>
      </div>
      <hr>
      <div class="post-preview">
        <h2 class="post-title"> Классы</h2>
        <p>37 классов и 5 выпускающихся</p>
      </div>
      <hr>
      <div class="post-preview">
        <h2 class="post-title">Связь с нами</h2>
        <p class="post-subtitle">По номеру телефона:&nbsp;<br>123-456-6789<br>Или по email:&nbsp;<br><a
          href="mailto:your-email@your-domain.com"><span style="text-decoration: underline;">nashaschool@mail.ru</span></a><br>
        </p>
      </div>
      <hr>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item"><span class="fa-stack fa-lg"></span></li>
          <li class="list-inline-item"><span class="fa-stack fa-lg"></span></li>
          <li class="list-inline-item"><span class="fa-stack fa-lg"></span></li>
        </ul>
        <p class="text-muted copyright">Kolosovich Uliana ©&nbsp;Brand 2022</p>
      </div>
    </div>
  </div>
</footer>
<script src="assets/js/clean-blog.js"></script>
</body>

</html>
