<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Dashboard - Brand</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
</head>

<body id="page-top">
<div id="wrapper">
  <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a
      class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="editDiary">
      <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
      <div class="sidebar-brand-text mx-3"><span>Заполнение<br>дневника</span></div>
    </a>
      <hr class="sidebar-divider my-0">
      <ul class="navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item"><a class="nav-link active" href="editDiary"><i class="fas fa-tachometer-alt"></i><span>Заполнение дневника</span></a>
        </li>
        <li class="nav-item"><a class="nav-link" href="menuTeacher"><i
          class="fas fa-user"></i><span>Личный кабинет</span></a></li>
        <li class="nav-item"></li>
        <li class="nav-item"><a class="nav-link" href="main"><i class="far fa-user-circle"></i><span>Выход</span></a>
        </li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </nav>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
          <h3 class="text-dark mb-0">Заполнение дневника</h3>
        </div>
        <div class="row">
          <div class="col">
            <p style="margin: -1px;width: 701.6px;padding: -7px;">Выберите дату, на которую нужно выставить оценку
              и домашнее задание.</p><input type="date" required [(ngModel)]="diaryDTO.dateLesson" name="dataForTable">
            <button class="btn btn-primary" type="button" data-bs-target="search" style="margin: 39px;">Поиск</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>ФИО ученика</th>
                  <th>Предмет</th>
                  <th>Домашнее задание</th>
                  <th>Отметка</th>
                  <th>Был/не был</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><input type="text" placeholder="Введите ФИО ученика через пробел" required [(ngModel)]="fioPupil" name="fioPupil" minlength="1" maxlength="60"></td>
                  <td><input type="text" placeholder="Введите предмет" required [(ngModel)]="diaryDTO.subject" name="subject" minlength="1" maxlength="60"></td>
                  <td><input type="text" required [(ngModel)]="diaryDTO.homework" name="homework" placeholder="Введите домашнее задание"></td>
                  <td><input type="number" required [(ngModel)]="diaryDTO.grade" min="1" max="10"></td>
                  <td><small>Был&nbsp;&nbsp;</small><input type="checkbox" name="attendance" checked="" [(ngModel)]="check"></td>
                </tr>
                <tr></tr>
                </tbody>
              </table>
              <button class="btn btn-primary" type="button" data-bs-target="search" style="margin: 39px;" (click)="addGradle()">Выставить оценку и пропуск</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="bg-white sticky-footer">
      <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Колосович Ульяна © Brand 2022</span></div>
      </div>
    </footer>
  </div>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/theme.js"></script>
</body>

</html>
